
 
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">reports</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                            <li class="breadcrumb-item active">verification</li>
                        </ol>
                        <div id="dlt" class="">
                            
                        </div>
                        <!-- <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div> -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Reporting user</th>
                                                <th>complain for</th>
                                                <th>complain</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Reporting user</th>
                                                <th>complain for</th>
                                                <th>complain</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            
                                                <!-- reporting user -->
                                            <% reportInfo.forEach(report=>{%>
                                            <tr id="dltReport<%= report.report_id%>">
                                                <% customerInfo.forEach(c=>{%>
                                                    <% if(c.user_id == report.fromuser){%>
                                                        <td><%=  c.name %></td>
                                                        <%}%>
                                                    <%}) %> 
                                                <% retailsellerInfo.forEach(r=>{%>
                                                    <% if(r.user_id==report.fromuser){%>
                                                        <td><%=  r.name %></td>
                                                        <%} %> 
                                                    <%}) %>
                                            
                                               
                                                <% sellerInfo.forEach(s=>{%>
                                                    <% if(s.user_id==report.fromuser){%>
                                                        <td><%=  s.name %></td>
                                                        <%} %> 
                                                    <%}) %>


                                            <!-- complain for -->
                                                <% customerInfo.forEach(c=>{%>
                                                    <% if(c.user_id == report.tomuser){%>
                                                        <td><%=  c.name %></td>
                                                        <%}%>
                                                    <%}) %> 
                                                <% retailsellerInfo.forEach(r=>{%>
                                                    <% if(r.user_id==report.touser){%>
                                                        <td><%=  r.name %></td>
                                                        <%} %> 
                                                    <%}) %>
                                            
                                               
                                                <% sellerInfo.forEach(s=>{%>
                                                    <% if(s.user_id==report.touser){%>
                                                        <td><%=  s.name %></td>
                                                        <%} %> 
                                                    <%}) %>
                                                    <td><%= report.report_msg %> </td>

                                            
                                                    <td><button   type="button" class="btn btn-danger" data-value=<%= report.report_id %> >Delete</button></td>
                                                </tr>

                                         <%}) %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

                <script>
                    $(document).ready(function() {
                    
                        $('button').click(function (e) {
                               var Id =$(this).data("value") 
                               var elementId = `#dltReport${Id}`;
                              
                                      
                                       $.ajax({  
                                               url:'/admin/report/delete',  
                                               method:'post',  
                                               data:{'userId':Id},
                                               contentType: "application/x-www-form-urlencoded",  
                                               success:function(response){ 
                                                   
                                                $(elementId).remove();
                                                    setTimeout(()=> { 
                                                       $('#dlt').addClass('alert alert-success')
                                                       $('.alert').append(`${response.r}`);
                                                       setTimeout(() => {
                                                           $('#dlt').removeClass('alert alert-success');
                                                           $('#dlt').empty();
                                                       }, 1500);
                                                    }, 200);
                                               },  
                                               error:function(response){  
                                                   alert(response.r)  
                                               }  
                                           });
                                       
                                   });
                                });
                   

               </script>
                